@font-face {
  font-family: 'yta';
  src:  url('../fonts/yta.eot?gc8256');
  src:  url('../fonts/yta.eot?j0klwa#iefix') format('embedded-opentype'),
    url('../fonts/yta.ttf?j0klwa') format('truetype'),
    url('../fonts/yta.woff?j0klwa') format('woff'),
    url('../fonts/yta.svg?j0klwa#yta') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="yta-"], [class*=" yta-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'yta' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yta-menu_icon:before {
  content: "\e902";
  color: #fff;
}
.yta-slide_icon-up-down:before {
  content: "\e901";
  color: #fff;
}
.yta-yta_icon-white:before {
  content: "\e900";
  color: #fff;
}

.yta-paw_print:before {
  content: "\e903";
}

.yta-slide_icon:before {
  content: "\e904";
  color: #fff;
}
